body {
  text-align: center;
}

.buttons {
  padding: 0 20px;
  margin: 8px;
}

.keyboardButtons {
    font-size: 30px;
    padding: 10 10 10 10px;
    margin: 1px;
    line-height: 2;
    color: white;
    background: teal;
}

.keyboardButtons:hover {
  font-size: 30px;
  padding: 5 10px;
  line-height: 2;
  color: white;
  background: green;
}

.keyboardButtons:disabled {
  font-size: 30px;
  padding: 5 10px;
  line-height: 2;
  color: whitesmoke;
  background: black;
}

/* .showLives */

#life {
  color: red;
  font-weight: bold;
  font-size: 24px;
}

.animation {
  width: 312px;
  height: 230px;
  background-color: white;
  border: 10px blue;
  position: relative;
  left: 43.5%;
}

.hangmanImg {
  position: absolute;
  color: green;
  left: 0px;
  bottom: 0px;
}

.frame {
  position: absolute;
}

.inputLetters {
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  border: none;
}

.remainedLetters {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: red;
  text-align: center;
  border: none;
}

.buttonArea {
  width: 900px;
  position: center;
}
